h1 {
  color: cyan;
}

.task-name {
  font-weight: bold;
  color: cadetblue;
}

.task-actions {
  cursor: pointer;
  color: gray;
  i.completed {
    color: green;
  }
  i.delete {
    color: tomato;
  }
}

.task-status {
  font-weight: bold;
  color: tomato;

  &.completed {
    color: gray;
    text-decoration: line-through;
  }
}
