h1 {
  color: cyan;
}

.task-name {
  font-weight: bold;
  color: cadetblue;
}

.task-status {
  cursor: pointer;
  i.completed {
    color: green;
  }
  i.pending {
    color: gray;
  }
  i.delete {
    color: tomato;
  }
}
